<?xml version="1.0" encoding="UTF-8"?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing http://symfony.com/schema/routing/routing-1.0.xsd">

    <route id="default" path="/" methods="GET">
        <default key="_controller">abd\app\controller\Main::getIndexPage</default>
    </route>

    <route id="book" path="/books/" methods="GET">
        <default key="_controller">abd\app\controller\Books::getList</default>
    </route>

    <route id="book-create" path="/books/create/" methods="POST">
        <default key="_controller">abd\app\controller\Books::create</default>
        <default key="a15l.deserialize.param">book</default>
        <default key="a15l.deserialize.class">abd\app\model\Book</default>
    </route>

    <route id="book-delete" path="/books/delete/{id}/" methods="GET">
        <default key="_controller">abd\app\controller\Books::delete</default>
        <requirement key="id">\d+</requirement>
    </route>

    <route id="book-edit" path="/books/edit/{id}/" methods="GET">
        <default key="_controller">abd\app\controller\Books::edit</default>
    </route>

    <route id="book-update" path="/books/edit/{id}/" methods="PUT">
        <default key="_controller">abd\app\controller\Books::update</default>
        <requirement key="id">\d+</requirement>
        <default key="a15l.deserialize.param">book</default>
        <default key="a15l.deserialize.class">abd\app\model\Book</default>
    </route>



</routes>